body.active-modal {
    overflow-y: hidden;
}


.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.otpl-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    border-radius: 30px;
    width: 400px;
    height: 400px;
    display: flex;
    z-index: 9999;
}

.otpl-head {
    font-weight: bold;
    font-size: 27px;
    color: black;
}

.otpl-text{
    font-size: 15px;
   text-align: center;
   line-height: 15px;
   max-width: 250px;
   color: black;
}


.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border: 1px solid #d2d6db;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
}


.otpl-loginmodal {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otpl-loginmodal img{
    height: 150px;
    margin-top: 20px;
}

.otpl-loginmodal input {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    margin-top: 20px;
    border: 3px solid #101734;
    margin-top: 20px;
}



.otpl-login-modal {
    width: 50%;
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    background-color: #ff8b47;
    cursor: pointer;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.otpl-login-modal:hover {
    background-color: #ff8b47;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}