.profile-containers {
  width: 100%;
}

.profile-header label{
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-left: 80px;
}
.profile-header {
    background-color: #101734;
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 60px;
}

.profile-header p{
    margin-right: 50px;
    margin-left : 10px;
    font-weight: bold;
}


.profile-header nav {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-right: 80px;
}

.icon {
    height: 3.5rem;
    width: auto;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.icon:hover {
    filter: brightness(70%);
}