html,
body {
    margin: 0;
    height: 100%;
    
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.home-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-header {
    height: 65%;
    /* Half of screen height */
    min-height: 0;
    /* Prevent stretching */
}

.home-body {
    height: 35%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}



.braillechar {
    font-weight: bold;
    font-size: 30px;
}



.home-braille-1 {



    margin-top: 30px;
    background-color: #ffecd4;
    width: 400px;
    height: 130px;
    border-radius: 10px;
    display: flex;
}

.home-braille-2 {



    margin-top: 10px;
    background-color: #ffecd4;
    width: 400px;
    height: 130px;
    border-radius: 10px;
    display: flex;
}

.home-text {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.home-modules {
    margin-top: 10px;
}

.home-modules img {
    margin-left: 10px;
}

.t1 {
    font-weight: bold;
    font-size: 25px;
}

.t2 {
    font-size: 14px;
    color: gray;
}

.t3 {
    margin-top: 20px;
    font-size: 12px;
    color: gray;

}