.character-container {
    padding-top: 3rem;
    padding-left: 12rem;
    padding-right: 12rem;

}

.top-character-subcontainer {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: #e5e7eb;
    height: 5.5rem;
    padding: 1.5rem;
    border-top: solid 2px #c7c7cd;
    border-left: solid 2px #c7c7cd;
    border-right: solid 2px #c7c7cd;
    display: flex;
}


.top-book {
    display: inline-block;
    margin-right: 20px;
    height: 100px;

}

.top-right {
    display: inline-block;


}

.top-character-subcontainer  h1 {
    margin: 0;
    font-size: 36px;

}

.top-character-subcontainer  p {
    margin: 0;
    color: #75757e;
}



.mid-character-subcontainer {
    background-color: #a0c0b3;
    height: 21rem;
    padding: 1.5rem;
    display: flex;
    border-left: solid 2px #c7c7cd;
    border-right: solid 2px #c7c7cd;
    border-bottom: solid 2px #c7c7cd;
    border-top: solid 2px #c7c7cd;
}






.bot-character-subcontainer {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #e5e7eb;
    height: 2.7rem;
    padding: 1.5rem;
    border-left: solid 2px #c7c7cd;
    border-right: solid 2px #c7c7cd;
    border-left: solid 2px #c7c7cd;
    border-bottom: solid 2px #c7c7cd;
    text-align: center;

}

.materials-back-btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: gray;
    width: 400px;
    height: 50px;
    
}
